@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
    ViewData["Title"] = "Chức vụ";
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Quản trị hệ thống</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Chức vụ</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Chức vụ</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <div class="input-group-append">
                                    <button type="button" class="btnAdd btn btn-primary">
                                        <i class="fas fa-plus"></i>
                                        Thêm mới chức vụ
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" id="chucvu-table">
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm mới chức vụ</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="quickForm">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="tencv">Tên chức vụ</label>
                            <input type="hidden" id="idcv">
                            <input type="text" name="text" class="form-control" id="tencv" placeholder="Nhập chức vụ">
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer justify-content-between">
                <button type="button" class="btnClose btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btnSaveAdd btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- /.content -->

<script type="text/javascript">
    var template = "/Template/tpl_chucvu.html"
    //set active side menu
    let navlink = document.querySelectorAll(".nav-link");
    navlink.forEach(i => {
        if (i.href.includes("@controller") && i.href.includes("@action")) {
            i.classList.add("active");
        } else {
            i.classList.remove("active")
        }
    })
    //

    //Call server get data
    $(document).ready(function () {
        GetAll();
        $(".btnAdd").on("click", function () {
            $('#modal-default').modal({ backdrop: 'static', keyboard: false });
        });

        $(".btnClose").on("click", function () {
            $('#tencv').val("");
            $('#idcv').val("")
        });

        $(".btnSaveAdd").on("click", function () {
            if ($('#idcv').val()) {
                if ($('#tencv').val()) {
                    let data = {
                        id: $('#idcv').val(),
                        tenCV: $('#tencv').val()
                    }
                    $.ajax(
                        {
                            type: "PUT",
                            data: data,
                            url: "@Url.Action("SuaChucVu", "System")",
                            success: function (data) {
                                $('#modal-default').modal('toggle');
                                $('#tencv').val("");
                                $('#idcv').val("")
                                GetAll();
                            },
                            error: function () {
                                $('#tencv').val("");
                                $('#idcv').val("");
                                GetAll();
                            }
                        });
                } else {
                    alert("Nhập tên chức vụ")
                }
            } else {
                if ($('#tencv').val()) {
                    let data = {
                        tenCV: $('#tencv').val()
                    }
                    $.ajax(
                        {
                            type: "POST",
                            data: data,
                            url: "@Url.Action("LuuChucVu", "System")",
                            success: function (data) {
                                $('#modal-default').modal('toggle');
                                $('#tencv').val("");
                                GetAll();
                            },
                            error: function () {
                                $('#tencv').val("");
                                GetAll();
                            }
                        });
                } else {
                    alert("Nhập tên chức vụ")
                }
            }
        });
    });

    function GetAll() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetAll", "System")",
            success: function (res) {
                if (res.success) {
                    res.data.map((x, index) => {
                        x.serialNumber = index + 1;
                    })

                    $.Mustache.load(template + '?v=' + Math.random()).done(function () {
                        $('#chucvu-table').html('');
                        $('#chucvu-table').mustache('tpl-chucvu-table', res);

                        //Khai bao event cho button
                        $(".btnEdit").on("click", function () {
                            let id = this.id.split('_')[1];
                            let name = $('tr[data-row-id*=' + id + ']').find(".cvname").html();
                            $('#modal-default').modal({ backdrop: 'static', keyboard: false });
                            $('#tencv').val(name);
                            $('#idcv').val(id);
                        });

                        $(".btnDelete").on("click", function () {
                            let id = this.id.split('_')[1];
                            $.ajax(
                                {
                                    type: "DELETE",
                                    data: { id: id },
                                    url: "@Url.Action("XoaChucVu", "System")",
                                    success: function (data) {
                                        GetAll();
                                    },
                                    error: function () {
                                        GetAll();
                                    }
                                });
                        });

                    });
                }
            },
            error: function () { }
        });
    }
</script>
