@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
    ViewData["Title"] = "Phân quyền";
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Quản trị hệ thống</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Quyền hạn</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Quyền hạn</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <div class="input-group-append">
                                    <button type="button" class="btnAdd btn btn-primary">
                                        <i class="fas fa-plus"></i>
                                        Thêm quyền hạn
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" id="quyen-table">
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm mới quyền</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="modalForm">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="tencv">Tên quyền</label>
                            <input type="hidden" id="id" name="id">
                            <input type="text" name="tenQuyen" class="form-control" id="tenQuyen" placeholder="Nhập tên quyền">
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer justify-content-between">
                <button type="button" class="btnClose btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btnSaveAdd btn btn-primary">Lưu và đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.content -->
<script type="text/javascript">
    var template = "/Template/tpl_quyen.html"
    //set active side menu
    let navlink = document.querySelectorAll(".nav-link");
    navlink.forEach(i => {
        if (i.href.includes("@controller") && i.href.includes("@action")) {
            i.classList.add("active");
        } else {
            i.classList.remove("active")
        }
    })
    //

    //Call server get data
    $(document).ready(function () {
        GetAllQuyen();
        $(".btnAdd").on("click", function () {
            $('#modal-default').modal({ backdrop: 'static', keyboard: false });
            $('.modal-title').html("");
            $('.modal-title').html("Thêm mới quyền");

        });

        $(".btnClose").on("click", function () {
            $('#modalForm').find('input').val("");
        });

        $(".btnSaveAdd").on("click", function () {
            let form = $('#modalForm').serializeArray();
            let model = uiUtils.objectifyForm(form);
            debugger
            if (model.id) {
                if (model.tenQuyen) {
                    $.ajax(
                        {
                            type: "PUT",
                            data: model,
                            url: "@Url.Action("SuaQuyen", "System")",
                            success: function (data) {
                                $('#modal-default').modal('toggle');
                                $('#modalForm').find('input').val("");
                                GetAllQuyen();
                            },
                            error: function () {
                                $('#modalForm').find('input').val("");
                                GetAllQuyen();
                            }
                        });
                } else {
                    alert("Nhập tên quyền")
                }
            } else {
                if (model.tenQuyen) {
                    $.ajax(
                        {
                            type: "POST",
                            data: model,
                            url: "@Url.Action("LuuQuyen", "System")",
                            success: function (data) {
                                $('#modal-default').modal('toggle');
                                $('#modalForm').find('input').val("");
                                GetAllQuyen();
                            },
                            error: function () {
                                $('#modalForm').find('input').val("");
                                GetAllQuyen();
                            }
                        });
                } else {
                    alert("Nhập tên quyền")
                }
            }
        });
    });

    function GetAllQuyen() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetAllQuyen", "System")",
            success: function (res) {
                if (res.success) {
                    res.data.map((x, index) => {
                        x.serialNumber = index + 1;
                    })

                    $.Mustache.load(template + '?v=' + Math.random()).done(function () {
                        $('#quyen-table').html('');
                        $('#quyen-table').mustache('tpl-quyen-table', res);

                        //Khai bao event cho button
                        $(".btnEdit").on("click", function () {
                            let id = this.id.split('_')[1];
                            $.ajax({
                                type: "GET",
                                data: { id: id },
                                async: false,
                                url: "@Url.Action("GetByIdQuyen", "System")",
                                success: function (data) {
                                    $('#modal-default').modal({ backdrop: 'static', keyboard: false });
                                    $('.modal-title').html("");
                                    $('.modal-title').html("Chỉnh sửa quyền");
                                    console.log(data.data);
                                    $.each(data.data, function (key, value) {
                                        $('#modalForm').find("input[name='" + key + "']").val(value);
                                    });
                                },
                                error: function () {

                                }
                            });
                        });

                        $(".btnDelete").on("click", function () {
                            let id = this.id.split('_')[1];
                            $.ajax(
                                {
                                    type: "DELETE",
                                    data: { id: id },
                                    url: "@Url.Action("XoaQuyen", "System")",
                                    success: function (data) {
                                        GetAllQuyen();
                                    },
                                    error: function () {
                                        GetAllQuyen();
                                    }
                                });
                        });

                    });
                }
            },
            error: function () { }
        });
    }
</script>