@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
    ViewData["Title"] = "Tài khoản";
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Quản trị hệ thống</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Tài khoản</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách nhân viên</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <div class="input-group-append">
                                    <button type="button" class="btnAdd btn btn-primary">
                                        <i class="fas fa-plus"></i>
                                        Thêm nhân viên
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" id="taikhoan-table">
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm nhân viên</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="modalForm">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="tenDangNhap">Tên đăng nhập</label>
                                    <input type="hidden" id="id" name="id">
                                    <input type="text" name="tenDangNhap" class="form-control" id="tenDangNhap" placeholder="Nhập username">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="maNV">Nhân viên</label>
                                    <select id="maNV" name="maNV" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="maQuyen">Quyền</label>
                                    <select id="maQuyen" name="maQuyen" class="form-control">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer justify-content-between">
                <button type="button" class="btnClose btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btnSaveAdd btn btn-primary">Lưu và đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">
    var template = "/Template/tpl_taikhoan.html"
    var quyens = [];
    var nhanviens = [];
    let navlink = document.querySelectorAll(".nav-link");
    navlink.forEach(i => {
        if (i.href.includes("@controller") && i.href.includes("@action")) {
            i.classList.add("active");
        } else {
            i.classList.remove("active")
        }
    })
    var Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000
    });
    //Call server get data
    $(document).ready(function () {
        GetAllQuyen();
        GetAllNhanVien(true);
        GetAllTaiKhoan();

        $(".btnAdd").on("click", function () {
            InitQuyenSelect();
            GetAllNhanVien(false);
            InitNhanVienSelect();

            $('#modal-default').modal({ backdrop: 'static', keyboard: false });
            $('.modal-title').html("");
            $('.modal-title').html("Tạo mới tài khoản");
        });

        $(".btnClose").on("click", function () {
            $('#modalForm').find('input').val("");
            $("#maNV").html("")
            $("#maQuyen").html("")
        });

        $(".btnSaveAdd").on("click", function () {
            let form = uiUtils.serializeArrayIncludingDisabledFields($('#modalForm'))
            let model = uiUtils.objectifyForm(form)
            if (model.id) {
                if (model.tenDangNhap) {
                    $.ajax({
                        type: "PUT",
                        data: model,
                        async: false,
                        url: "@Url.Action("SuaTaiKhoan", "System")",
                        success: function (data) {
                            if (data.success) {
                                Toast.fire({
                                    icon: 'success',
                                    title: data.message
                                })
                                $('#modal-default').modal('toggle');
                                $('#modalForm').find('input').val("");
                                $("#maNV").html("")
                                $("#maQuyen").html("")
                                $('#maNV').prop('disabled', false)
                                GetAllNhanVien(true);
                                GetAllTaiKhoan();

                            } else {
                                Toast.fire({
                                    icon: 'error',
                                    title: data.message
                                })
                            }
                        },
                        error: function () {
                            Toast.fire({
                                icon: 'error',
                                title: data.message
                            })
                            $('#modalForm').find('input').val("");
                            $("#maNV").html("")
                            $("#maQuyen").html("")
                            $('#maNV').prop('disabled', false)
                            GetAllNhanVien(true);
                            GetAllTaiKhoan();
                        }
                    });
                } else {
                    alert("Nhập username")
                }
            } else {
                if (model.tenDangNhap) {
                    $.ajax(
                        {
                            type: "POST",
                            data: model,
                            async: false,
                            url: "@Url.Action("LuuTaiKhoan", "System")",
                            success: function (data) {
                                if (data.success) {
                                    Toast.fire({
                                        icon: 'success',
                                        title: data.message
                                    })
                                    $('#modal-default').modal('toggle');
                                    $('#modalForm').find('input').val("");
                                    $("#maNV").html("")
                                    $("#maQuyen").html("")
                                    GetAllNhanVien(true);
                                    GetAllTaiKhoan();
                                } else {
                                    Toast.fire({
                                        icon: 'error',
                                        title: data.message
                                    })
                                }

                            },
                            error: function () {
                                Toast.fire({
                                    icon: 'error',
                                    title: data.message
                                })
                                $('#modalForm').find('input').val("");
                                $("#maNV").html("")
                                $("#maQuyen").html("")
                                GetAllNhanVien(true);
                                GetAllTaiKhoan();
                            }
                        });
                } else {
                    alert("Nhập username")
                }
            }
        });
    });

    function GetAllTaiKhoan() {
        $.ajax({
            type: "GET",
            async: false,
            url: "@Url.Action("GetAllTaiKhoan", "System")",
            success: function (res) {
                if (res.success) {
                    res.data.map((x, index) => {
                        x.nhanVien = nhanviens.find(c => c.id == x.maNV).hoTen;
                        x.quyen = quyens.find(c => c.id == x.maQuyen).tenQuyen;

                        x.serialNumber = index + 1;
                    })

                    $.Mustache.load(template + '?v=' + Math.random()).done(function () {
                        $('#taikhoan-table').html('');
                        $('#taikhoan-table').mustache('tpl-taikhoan-table', res);
                        //Khai bao event cho button
                        $(".btnEdit").on("click", function () {
                            GetAllNhanVien(true);
                            InitNhanVienSelect();
                            InitQuyenSelect()
                            let id = this.id.split('_')[1];
                            $.ajax({
                                type: "GET",
                                data: { id: id },
                                async: false,
                                url: "@Url.Action("GetByIdTaiKhoan", "System")",
                                success: function (data) {
                                    $('#modal-default').modal({ backdrop: 'static', keyboard: false });
                                    $('.modal-title').html("");
                                    $('.modal-title').html("Chỉnh sửa nhân viên");

                                    $('#maNV').prop('disabled', true)

                                    $.each(data.data, function (key, value) {
                                        $('#modalForm').find("input[name='" + key + "']").val(value);
                                        $('#modalForm').find("select[name='" + key + "']").val(value);
                                    });
                                },
                                error: function () {

                                }
                            });
                        });

                        $(".btnDelete").on("click", function () {
                            let id = this.id.split('_')[1];
                            $.ajax(
                                {
                                    type: "DELETE",
                                    async: false,
                                    data: { id: id },
                                    url: "@Url.Action("XoaTaiKhoan", "System")",
                                    success: function (data) {
                                        if (data.success) {
                                            Toast.fire({
                                                icon: 'success',
                                                title: data.message
                                            })
                                            GetAllNhanVien(true);
                                            GetAllTaiKhoan();
                                        } else {
                                            Toast.fire({
                                                icon: 'error',
                                                title: data.message
                                            })
                                        }
                                    },
                                    error: function () {
                                        Toast.fire({
                                            icon: 'error',
                                            title: data.message
                                        })
                                        GetAllNhanVien(true);
                                        GetAllTaiKhoan();
                                    }
                                });
                        });

                    });
                }
            },
            error: function () { }
        });
    }

    function GetAllQuyen() {
        $.ajax({
            type: "GET",
            async: false,
            url: "@Url.Action("GetAllQuyen", "System")",
            success: function (data) {
                quyens = [];
                quyens = data.data;
            },
            error: function () {
                quyens = [];
            }
        });
    }

    function GetAllNhanVien(hasAccount) {
        $.ajax({
            type: "GET",
            data: { hasAccount: hasAccount },
            async: false,
            url: "@Url.Action("GetAll", "Nhanvien")",
            success: function (data) {
                nhanviens = [];
                nhanviens = data.data;
            },
            error: function () {
                nhanviens = [];
            }
        });
    }

    function InitNhanVienSelect() {
        $("#maNV").append($("<option disabled selected>--Chọn--</option>"));
        nhanviens.forEach(i => {
            $("#maNV").append($("<option></option>").val(i.id).html(i.hoTen));
        })
    }

    function InitQuyenSelect() {
        $("#maQuyen").append($("<option disabled selected>--Chọn--</option>"));
        quyens.forEach(i => {
            $("#maQuyen").append($("<option></option>").val(i.id).html(i.tenQuyen));
        })
    }
</script>