@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    ViewData["Title"] = "Dịch vụ";
    var canAddDichVu = (bool)ViewBag.CanAddDichVu;
    var canAddLich = (bool)ViewBag.CanAddLich;
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Quản lý dịch vụ</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Quản lý dịch vụ</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="card card-primary card-outline">
            <div class="card-body">
                <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                    <li class="nav-item">
                        <button class="nav-link active" id="tabDichVu" data-toggle="pill"
                                data-target="#tabDichVuContent" role="tab" aria-controls="tabDichVuContent"
                                aria-selected="true">
                            Dịch vụ
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="tabLichDichVu" data-toggle="pill"
                                data-target="#tabLichDichVuContent" role="tab" aria-controls="tabLichDichVuContent"
                                aria-selected="false">
                            Lịch dịch vụ
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="tabContent">
                    <div class="tab-pane fade show active" id="tabDichVuContent" role="tabpanel"
                         aria-labelledby="tabDichVu">
                    </div>
                    <div class="tab-pane fade" id="tabLichDichVuContent" role="tabpanel"
                         aria-labelledby="tabLichDichVu">
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.row (main row) -->
    </div>
</section>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="modalForm">
                    <div class="card-body">
                    </div>
                </form>
            </div>

            <div class="modal-footer justify-content-between">
                <button type="button" class="btnClose btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btnSaveAdd btn btn-primary">Lưu và đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.content -->
<script type="text/javascript">
    var templateDichVu = "/Template/tpl_dichvu.html"
    var templateDichVuPopup = "/Template/tpl_dichvu_popup.html"
    var templateLichDichVu = "/Template/tpl_lichdichvu.html"
    var templateLichDichVuPopup = "/Template/tpl_lichdichvu_popup.html"
    var canAdd = @canAddDichVu.ToString().ToLower();
    var canAddLich = @canAddLich.ToString().ToLower();
    var dichvus = [];
    //set active side menu
    let navlink = document.querySelectorAll(".side-nav-item");
    navlink.forEach(i => {
        if (i.href.includes("@controller")) {
            i.classList.add("active");
        } else {
            i.classList.remove("active")
        }
    })
    var Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000
    });
    //

    //Call server get data
    $(document).ready(function () {
        GetAllDichvu();

        $('#tabDichVu').on('click', function () {
            GetAllDichvu();
        })
        $('#tabLichDichVu').on('click', function () {
            GetAllDichVuData();
            GetAllLichdichVu();
        })

        $(".btnClose").on("click", function () {
            $('#modalForm').find('input').val("");
            $('#modalForm').find('select').html("");
        });

        $(".btnSaveAdd").on("click", function () {
            let form = $('#modalForm').serializeArray();
            let model = uiUtils.objectifyForm(form);
            var countProp = Object.keys(model);
            switch (countProp.length) {
                case 3://Dich vu
                    if (model.id) {
                        if (model.tenDV) {
                            $.ajax({
                                type: "PUT",
                                data: model,
                                url: "@Url.Action("SuaDichvu", "Dichvu")",
                                success: function (data) {
                                    if (data.success) {
                                        Toast.fire({
                                            icon: 'success',
                                            title: data.message
                                        })
                                        $('#modal-default').modal('toggle');
                                        $('#modalForm').find('input').val("");
                                        GetAllDichvu();
                                    } else {
                                        Toast.fire({
                                            icon: 'error',
                                            title: data.message
                                        })
                                    }

                                },
                                error: function () {
                                    Toast.fire({
                                        icon: 'error',
                                        title: data.message
                                    })
                                    $('#modalForm').find('input').val("");
                                    GetAllDichvu();
                                }
                            });
                        } else {
                            alert("Nhập tên dịch vụ")
                        }
                    } else {
                        if (model.tenDV) {
                            $.ajax({
                                type: "POST",
                                data: model,
                                url: "@Url.Action("LuuDichvu", "Dichvu")",
                                success: function (data) {
                                    if (data.success) {
                                        Toast.fire({
                                            icon: 'success',
                                            title: data.message
                                        })
                                        $('#modal-default').modal('toggle');
                                        $('#modalForm').find('input').val("");
                                        GetAllDichvu();
                                    } else {
                                        Toast.fire({
                                            icon: 'error',
                                            title: data.message
                                        })
                                    }

                                },
                                error: function () {
                                    Toast.fire({
                                        icon: 'error',
                                        title: data.message
                                    })
                                    $('#modalForm').find('input').val("");
                                    GetAllDichvu();
                                }
                            });
                        } else {
                            alert("Nhập tên dịch vụ")
                        }
                    }
                    break;

                case 6://Lich dich vu
                    if (model.id) {
                        $.ajax({
                            type: "PUT",
                            data: model,
                            url: "@Url.Action("SuaLichdichvu", "Dichvu")",
                            success: function (data) {
                                if (data.success) {
                                    Toast.fire({
                                        icon: 'success',
                                        title: data.message
                                    })
                                    $('#modal-default').modal('toggle');
                                    $('#modalForm').find('input').val("");
                                    $('#modalForm').find('select').val("");
                                    GetAllLichdichVu();
                                } else {
                                    Toast.fire({
                                        icon: 'error',
                                        title: data.message
                                    })
                                }
                            },
                            error: function () {
                                Toast.fire({
                                    icon: 'error',
                                    title: data.message
                                })
                                $('#modalForm').find('input').val("");
                                GetAllLichdichVu();
                            }
                        });
                    } else {
                        $.ajax({
                            type: "POST",
                            data: model,
                            url: "@Url.Action("LuuLichdichvu", "Dichvu")",
                            success: function (data) {
                                if (data.success) {
                                    Toast.fire({
                                        icon: 'success',
                                        title: data.message
                                    })
                                    $('#modal-default').modal('toggle');
                                    $('#modalForm').find('input').val("");
                                    $('#modalForm').find('select').val("");
                                    GetAllLichdichVu();
                                } else {
                                    Toast.fire({
                                        icon: 'error',
                                        title: data.message
                                    })
                                }
                            },
                            error: function () {
                                Toast.fire({
                                    icon: 'error',
                                    title: data.message
                                })
                                $('#modalForm').find('input').val("");
                                GetAllLichdichVu();
                            }
                        });
                    }
                    break;
            }
        });
    });

    function GetAllDichvu() {
        $.ajax({
            type: "GET",
            async: false,
            url: "@Url.Action("GetAllDichvu", "Dichvu")",
            success: function (res) {
                if (res.success) {
                    res.data.map((x, index) => {
                        x.serialNumber = index + 1;
                    })
                    dichvus = res.data;
                    $.Mustache.load(templateDichVu + '?v=' + Math.random()).done(function () {
                        $('#tabDichVuContent').html('');
                        $('#tabDichVuContent').mustache('tpl-dichvu-table', res);

                        $(".btnAdd").parent().hide();
                        $(".btnEdit").parent().hide();
                        $(".btnDelete").parent().hide();
                        if (canAdd) {
                            $(".btnAdd").parent().show();
                            $(".btnEdit").parent().show();
                            $(".btnDelete").parent().show();
                            //Khai bao event cho button
                            $(".btnAdd").on("click", function () {
                                $.Mustache.load(templateDichVuPopup + '?v=' + Math.random()).done(function () {
                                    $('#modalForm').html('');
                                    $('#modalForm').mustache('tpl-dichvu-popup');

                                    $('#modal-default').modal({ backdrop: 'static', keyboard: false });
                                    $('.modal-title').html("");
                                    $('.modal-title').html("Thêm mới dịch vụ");
                                })
                            });

                            $(".btnEdit").on("click", function () {
                                let id = this.id.split('_')[1];
                                $.ajax({
                                    type: "GET",
                                    data: { id: id },
                                    async: false,
                                    url: "@Url.Action("GetByIdDichvu", "Dichvu")",
                                    success: function (data) {
                                        $.Mustache.load(templateDichVuPopup + '?v=' + Math.random()).done(function () {
                                            $('#modalForm').html('');
                                            $('#modalForm').mustache('tpl-dichvu-popup');
                                            $('#modal-default').modal({ backdrop: 'static', keyboard: false });
                                            $('.modal-title').html("");
                                            $('.modal-title').html("Chỉnh sửa dịch vụ");
                                            console.log(data.data);
                                            $.each(data.data, function (key, value) {
                                                $('#modalForm').find("input[name='" + key + "']").val(value);
                                            });
                                        })
                                    },
                                    error: function () {

                                    }
                                });
                            });

                            $(".btnDelete").on("click", function () {
                                let id = this.id.split('_')[1];
                                $.ajax({
                                    type: "DELETE",
                                    data: { id: id },
                                    async: false,
                                    url: "@Url.Action("XoaDichvu", "Dichvu")",
                                    success: function (data) {
                                        if (data.success) {
                                            Toast.fire({
                                                icon: 'success',
                                                title: data.message
                                            })
                                        } else {
                                            Toast.fire({
                                                icon: 'error',
                                                title: data.message
                                            })
                                        }
                                        GetAllDichvu();
                                    },
                                    error: function () {
                                        GetAllDichvu();
                                    }
                                });
                            });
                        }
                    });
                }
            },
            error: function () { }
        });
    }

    function GetAllLichdichVu() {
        $.ajax({
            type: "GET",
            async: false,
            url: "@Url.Action("GetAllLichdichvu", "Dichvu")",
            success: function (res) {
                if (res.success) {
                    res.data.map((x, index) => {
                        x.serialNumber = index + 1;
                        x.ngayGio = moment(x.ngayGio).format("DD/MM/YYYY HH:mm:ss");
                        x.maDV = dichvus.find(c => c.id == x.maDV).tenDV;
                    })
                    $.Mustache.load(templateLichDichVu + '?v=' + Math.random()).done(function () {
                        $('#tabLichDichVuContent').html('');
                        $('#tabLichDichVuContent').mustache('tpl-lichdichvu-table', res);

                        $(".btnAdd").parent().hide();
                        //$(".btnEdit").parent().hide();
                        $(".btnDelete").hide();
                        if (canAddLich) {
                            $(".btnAdd").parent().show();
                            //$(".btnEdit").parent().show();
                            $(".btnDelete").show();

                            $(".btnAdd").on("click", function () {
                                $.Mustache.load(templateLichDichVuPopup + '?v=' + Math.random()).done(function () {
                                    $('#modalForm').html('');
                                    $('#modalForm').mustache('tpl-lichdichvu-popup');
                                    $('#modal-default').modal({ backdrop: 'static', keyboard: false });
                                    $('.modal-title').html("");
                                    $('.modal-title').html("Thêm mới lịch dịch vụ");

                                    $("#maDV").append($("<option disabled selected>--Chọn--</option>"));
                                    dichvus.forEach(i => {
                                        $("#maDV").append($("<option></option>").val(i.id).html(i.tenDV));
                                    })

                                    $('#ngayGio').datetimepicker({
                                        icons: { time: 'far fa-clock' },
                                        format: 'DD/MM/YYYY HH:mm:ss'
                                    });
                                })
                            });

                            $(".btnDelete").on("click", function () {
                                let id = this.id.split('_')[1];
                                $.ajax({
                                    type: "DELETE",
                                    data: { id: id },
                                    async: false,
                                    url: "@Url.Action("XoaLichdichvu", "Dichvu")",
                                    success: function (data) {
                                        if (data.success) {
                                            Toast.fire({
                                                icon: 'success',
                                                title: data.message
                                            })
                                        } else {
                                            Toast.fire({
                                                icon: 'error',
                                                title: data.message
                                            })
                                        }
                                        GetAllLichdichVu();
                                    },
                                    error: function () {
                                        Toast.fire({
                                            icon: 'error',
                                            title: data.message
                                        })
                                        GetAllLichdichVu();
                                    }
                                });
                            });
                        }

                        $(".btnEdit").on("click", function () {
                            let id = this.id.split('_')[1];
                            $.ajax({
                                type: "GET",
                                data: { id: id },
                                async: false,
                                url: "@Url.Action("GetByIdLichdichvu", "Dichvu")",
                                success: function (data) {
                                    data.data.ngayGio = moment(data.data.ngayGio).format("DD/MM/YYYY HH:mm:ss");
                                    $.Mustache.load(templateLichDichVuPopup + '?v=' + Math.random()).done(function () {
                                        $('#modalForm').html('');
                                        $('#modalForm').mustache('tpl-lichdichvu-popup');
                                        $('#modal-default').modal({ backdrop: 'static', keyboard: false });
                                        $('.modal-title').html("");
                                        $('.modal-title').html("Chỉnh sửa lịch dịch vụ");

                                        $("#maDV").append($("<option disabled selected>--Chọn--</option>"));
                                        dichvus.forEach(i => {
                                            $("#maDV").append($("<option></option>").val(i.id).html(i.tenDV));
                                        })

                                        $('#ngayGio').datetimepicker({
                                            icons: { time: 'far fa-clock' },
                                            format: 'DD/MM/YYYY HH:mm:ss'
                                        });

                                        $.each(data.data, function (key, value) {
                                            $('#modalForm').find("input[name='" + key + "']").val(value);
                                            $('#modalForm').find("select[name='" + key + "']").val(value);
                                        });
                                    })
                                },
                                error: function () {

                                }
                            });
                        });
                    });
                }
            },
            error: function () { }
        });
    }

    function GetAllDichVuData() {
        $.ajax({
            type: "GET",
            async: false,
            url: "@Url.Action("GetAllDichvu", "Dichvu")",
            success: function (res) {
                dichvus = [];
                dichvus = res.data;
            },
            error: function () {
                dichvus = [];
            }
        });
    }
</script>