@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    ViewData["Title"] = "Khách hàng";
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Quản lý khách hàng</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Quản lý khách hàng</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách khách hàng</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <div class="input-group-append">
                                    <button type="button" class="btnAdd btn btn-primary">
                                        <i class="fas fa-plus"></i>
                                        Thêm khách hàng
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" id="khachhang-table">
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm khách hàng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="modalForm">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="tencv">Họ và tên</label>
                                    <input type="hidden" id="id" name="id">
                                    <input type="text" name="hoTen" class="form-control" id="hoTen" placeholder="Nhập họ tên">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="tencv">Email</label>
                                    <input type="text" name="email" class="form-control" id="email" placeholder="Nhập email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="tencv">Địa chỉ</label>
                                    <input type="text" name="diaChi" class="form-control" id="diaChi" placeholder="Nhập địa chỉ">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="tencv">SDT</label>
                                    <input type="text" name="sdt" class="form-control" id="sdt" placeholder="Nhập số điện thoại">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer justify-content-between">
                <button type="button" class="btnClose btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btnSaveAdd btn btn-primary">Lưu và đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    var template = "/Template/tpl_khachhang.html"
    let navlink = document.querySelectorAll(".nav-link");
    navlink.forEach(i => {
        if (i.href.includes("@controller")) {
            i.classList.add("active");
        } else {
            i.classList.remove("active")
        }
    })

    var Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000
    });

    $(document).ready(function () {
        GetAllKhachhang();
        $(".btnAdd").on("click", function () {
            $('#modal-default').modal({ backdrop: 'static', keyboard: false });
            $('.modal-title').html("");
            $('.modal-title').html("Thêm mới khách hàng");

        });

        $(".btnClose").on("click", function () {
            $('#modalForm').find('input').val("");
        });

        $(".btnSaveAdd").on("click", function () {
            let form = $('#modalForm').serializeArray();
            let model = uiUtils.objectifyForm(form);
            if (model.id) {
                if (model.hoTen) {
                    $.ajax(
                        {
                            type: "PUT",
                            data: model,
                            url: "@Url.Action("SuaKhachhang", "Khachhang")",
                            success: function (data) {
                                if (data.success) {
                                    Toast.fire({
                                        icon: 'success',
                                        title: data.message
                                    })

                                } else {
                                    Toast.fire({
                                        icon: 'error',
                                        title: data.message
                                    })
                                }
                                $('#modal-default').modal('toggle');
                                $('#modalForm').find('input').val("");
                                GetAllKhachhang();
                            },
                            error: function () {
                                Toast.fire({
                                    icon: 'error',
                                    title: data.message
                                })
                                $('#modalForm').find('input').val("");
                                GetAllKhachhang();
                            }
                        });
                } else {
                    alert("Nhập tên khách hàng")
                }
            } else {
                if (model.hoTen) {
                    $.ajax(
                        {
                            type: "POST",
                            data: model,
                            url: "@Url.Action("LuuKhachhang", "Khachhang")",
                            success: function (data) {
                                if (data.success) {
                                    Toast.fire({
                                        icon: 'success',
                                        title: data.message
                                    })
                                } else {
                                    Toast.fire({
                                        icon: 'error',
                                        title: data.message
                                    })
                                }
                                $('#modal-default').modal('toggle');
                                $('#modalForm').find('input').val("");
                                GetAllKhachhang();
                            },
                            error: function () {
                                Toast.fire({
                                    icon: 'error',
                                    title: data.message
                                })
                                $('#modalForm').find('input').val("");
                                GetAllKhachhang();
                            }
                        });
                } else {
                    alert("Nhập tên khách hàng")
                }
            }
        });
    });

    function GetAllKhachhang() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetAllKhachhang", "Khachhang")",
            success: function (res) {
                if (res.success) {
                    res.data.map((x, index) => {
                        x.serialNumber = index + 1;
                    })

                    $.Mustache.load(template + '?v=' + Math.random()).done(function () {
                        $('#khachhang-table').html('');
                        $('#khachhang-table').mustache('tpl-khachhang-table', res);

                        //Khai bao event cho button
                        $(".btnEdit").on("click", function () {
                            let id = this.id.split('_')[1];
                            $.ajax({
                                type: "GET",
                                data: { id: id },
                                async: false,
                                url: "@Url.Action("GetByIdKhachhang", "Khachhang")",
                                success: function (data) {
                                    $('#modal-default').modal({ backdrop: 'static', keyboard: false });
                                    $('.modal-title').html("");
                                    $('.modal-title').html("Chỉnh sửa khách hàng");
                                    $.each(data.data, function (key, value) {
                                        $('#modalForm').find("input[name='" + key + "']").val(value);
                                    });
                                },
                                error: function () {

                                }
                            });
                        });

                        $(".btnDelete").on("click", function () {
                            let id = this.id.split('_')[1];
                            $.ajax(
                                {
                                    type: "DELETE",
                                    data: { id: id },
                                    url: "@Url.Action("XoaKhachhang", "Khachhang")",
                                    success: function (data) {
                                        if (data.success) {
                                            Toast.fire({
                                                icon: 'success',
                                                title: data.message
                                            })
                                        } else {
                                            Toast.fire({
                                                icon: 'error',
                                                title: data.message
                                            })
                                        }
                                        GetAllKhachhang();
                                    },
                                    error: function () {
                                        GetAllKhachhang();
                                    }
                                });
                        });

                    });
                }
            },
            error: function () { }
        });
    }
</script>